<h1>Basic Information:</h1>
<hr/>
<h4>i. The names of your group members</h4> <br>

<h4>ii. The student number of each member. </h4> <br>

<h4>iii. Your heroku deployed URL:
  <a href="https://violinsolo.herokuapp.com/">
    https://violinsolo.herokuapp.com/</a>
</h4> <br>

<h4>iv. Your assignment 2 bitbucket URL:
  <a href="https://github.com/iViolinSolo/Ruby_news_site">
    https://github.com/iViolinSolo/Ruby_news_site
  </a>
</h4> <br>