<h1>Recent Comments:</h1>
<div class="row">
  <% @newest_comments.each do |comment| %>
    <div class="comment">
      <p>
        <%= comment.author %> <%= cal_time_before(comment.created_at)+' ago' %> | on: <%= comment.schoolnews.title %>
      </p>
      <p>
        <%= comment.content %>
      </p>
    </div>
  <% end %>
</div>