<footer class="footer">
  <small>
    The <a href="/">News App</a>
    by <a href="https://github.com/iViolinSolo">@ViolinSolo</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", static_pages_about_path %></li>
      <li><%= link_to "API", "https://github.com/pigfly/School-RAD/tree/master/assignment2" %></li>
      <!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
    </ul>
  </nav>
</footer>